<section class="all_authors">
  <div class="container">
    <div class="row">
      <h1 class="text-danger"><%= title %></h1>
      <hr />
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Short Bio</th>
            <th>Member Since</th>
          </tr>
        </thead>
        <% authors.forEach(author => { %>

        <tbody>
          <tr>
            <td>
              <a href="/authors/<%= author.id %>/show"><%= author.name %></a>
            </td>
            <td><%= author.email %></td>
            <td><%= author.phone %></td>
            <td><%= author.address %></td>
            <td><%= author.message %></td>
            <td><%= author.date.toLocaleDateString() %></td>
          </tr>
        </tbody>

        <% }) %>
      </table>
    </div>
  </div>
</section>
